<div class="ui red card" style="height: 426px; width: 640px; background-image: url('/img/default{{ index (shuffle (seq 4 15)) 0 }}.jpg') !important;  background-size: cover !important;">
    <div class="content" style="padding: 0px; overflow: hidden; padding-top: 5px;">
        <a class="header" href="{{ .Permalink }}">
            <div style="font-size: 1.5rem;">
                {{ .Title }}
                {{ range first 1 (where $.Site.RegularPages ".Title" "=" (printf "%s-%s" .Title "1" )) }}
                <i class="object group icon settings large right floated"></i>
                {{ end }}
            </div>
        </a>
        <div class="description">
            <pre style="overflow: hidden; font-family: 'Roboto Mono', monospace;">{{ .RawContent | htmlUnescape }}</pre>
        </div>
    </div>
</div>
